.action-btn {
      width: 38px;
    }
    .quantity-btn {
      width: 32px;
      padding: 0;
    }

body {
  background-image: url("../assets/img/supermarket-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}