spring:
  datasource:
    url: jdbc:mysql://localhost:3306/supermarket_db
    username: root
    password: admin

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG